.division {
    display: grid;
    grid-template-areas: 
    "info info"
    "clasificacion cruzada";
    grid-template-columns: max-content;
    grid-template-rows: max-content max-content;
    gap: 2rem;
}

.division #info {
    grid-area: info;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.division #info img {
    height: 50px;
    display: inline-block;
}

.division .clasificacion-table td, .division .clasificacion-table th {
    border: 1px solid black;
}

.division .clasificacion-table {
    grid-area: clasificacion;
    height: max-content;
    border: 1px solid black;
    border-collapse: collapse;
    width: max-content;
}

.division .clasificacion-table th {
    background-color: black;
    color: white;
}

.division .clasificacion-table tbody > tr:nth-child(even) {
    background-color: lightgray;
}

.division .clasificacion-table tbody > tr:nth-child(odd) {
    background-color: white;
}

.division .clasificacion-table td {
    height: 36px;
    width: 300px;
    padding: .2rem;
    text-align: center;
}


.division .clasificacion-table .td-flex {
    text-align: left;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.division .clasificacion-table tr td:nth-child(2) {
    cursor: pointer;
}

.division .clasificacion-table tr td:nth-child(2) img {
    height: 32px;
    width: 32px;
    object-fit: contain;
    display: inline-block;
    overflow: hidden;
}

.division .clasificacion-table .td-30 {
    width: 30px;
}

.division .clasificacion-table tr.ascenso {
    background-color: green !important;
}

.division .clasificacion-table tr.playoff {
    background-color: greenyellow !important;
}

.division .clasificacion-table tr.descenso {
    background-color: lightcoral !important;
}

.division .cruzada-table {
    grid-area: cruzada;
    height: max-content;
    border: 1px solid black;
    border-collapse: collapse;
    width: max-content;
}

.division .cruzada-table td {
    border: 1px solid black;
    text-align: center;
    width: 50px;
    padding: .2rem;
}

.division .cruzada-table .equipo-celda {
    background-color: black;
    color: white;
    font-weight: bold;
}

.division .cruzada-table .mismo-equipo {
    background-color: gray;
}

.division .cruzada-table tbody > tr:nth-child(even) {
    background-color: lightgray;
}

.division .cruzada-table tbody > tr:nth-child(odd) {
    background-color: white;
}